<div appBackgroundImg>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>
      <mat-card-subtitle>
          SamsungSDS LAX Tracking
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="example-container" [formGroup]="loginForm">
          <mat-form-field>
              <input matInput placeholder="EMAIL" formControlName="email" [(ngModel)]="loginModel.email">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="PASSWORD" formControlName="password" [(ngModel)]="loginModel.password">
          </mat-form-field>
        </form>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="cognitoLogin()">Login</button>
      <button mat-raised-button color="warn" (click)="adalLogin()">Morrison Login</button>
    </mat-card-actions>
    <mat-list>
      <mat-list-item><a routerLink="/login/register">Register</a></mat-list-item>
      <mat-list-item><a routerLink="/login/resendCode">Resend Verification Code</a></mat-list-item>
      <mat-list-item><a routerLink="/login/confirm">Confirm your account</a></mat-list-item>
      <mat-list-item><a routerLink="/login/forgotPassword">Forgot/Change Password?</a></mat-list-item>
    </mat-list>
    <mat-hint> Hint : Morrison's employee please click the "Morrison Login" button to navigate to another page for login.</mat-hint>
</mat-card>
</div>