<div id="app">
  <div class="panel panel-default">
        <div class="panel-header">
                <h1>Invoice Pickup</h1>
                <div class="form-group">
                  <form [formGroup]="serachForm">
                    <div class="row">
                      <!-- <div class="col-md-3">
                        <label for="hawb">HAWB: </label>
                        <mat-form-field>
                          <input matInput formControlName="hawb" id="hawb" name="hawb" [(ngModel)]="searchModel.hawb">
                        </mat-form-field>
                      </div> -->
                        <div class="col-md-6">
                          <label>Invoice Date: </label>
                          <mat-form-field style="width:120px">
                            <input matInput placeholder="MM/dd/yyyy" [matDatepicker]="dp1" formControlName="startDate" [(ngModel)]="searchModel.startDate">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                          </mat-form-field>
                          <span>to</span>
                          <mat-form-field style="width:120px">
                            <input matInput placeholder="MM/dd/yyyy" [matDatepicker]="dp2" formControlName="endDate" [(ngModel)]="searchModel.endDate">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                          </mat-form-field>
                          <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                          <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                       </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-raised-button color="primary" (click)="search()" style="float:left">Search</button>
                      <button mat-raised-button color="accent" (click)="select()" style="float:right">Combined Selected Invoices</button>
                    </div>
                  </div>
                </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="panel-body mat-elevation-z4">
            <div>
              <!-- <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field> -->
              <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
          
            <mat-table #table [dataSource]="dataSource">
                  
              <!-- CheckBox Column -->
              <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef> Selection </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="invoice_no">
                <mat-header-cell *matHeaderCellDef> Invoice No. </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.invoice_no}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="doc_num">
                <mat-header-cell *matHeaderCellDef> Document Number </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.doc_num}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="invoice_date">
                <mat-header-cell *matHeaderCellDef> Invoice Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.invoice_date}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        
        </div>
  </div>
</div>