#globalSearch {
    color: black;
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:25px;
    line-height:25px;
    width:200px;
    text-indent:5px;
 }
 :host /deep/ .mat-input-placeholder {
    color: silver;
 }
.toolbar-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 0 auto;
  height: 8%;
}
.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 0 auto;
  height: 92%;
}
.level-1 {
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.level-2 {
    margin-left: 14px;
    transition: background-color .2s;
}
a.mat-list-item {
    padding: 0 8px;
}
.mat-expansion-panel-header {
    font-size: 16px;
}