
<mat-toolbar color="primary" class="toolbar-container">
    <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <span>
        <!-- <img src="../../assets/Logo_large.png"> -->
        SamsungSDS LAX Tracking
    </span>
    <!-- 在這之後的都會被推到右邊去 -->
    <span class="toolbar-seprator"></span>
    <!-- logout button -->
    <div *ngIf="helper.localStorageItem('userName')">
        <button mat-icon-button routerLink="/logout">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="push" (opened)="opened()" (closed)="closed()">
        <mat-nav-list>
            <a mat-list-item routerLink="/secure/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span class="nav-text">DashBoard</span>
            </a>
            <h4 matSubheader>Menu List</h4>
            <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title >
                                <mat-icon>flight_takeoff</mat-icon>
                                <span class="nav-text">Air Export</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                        <a mat-list-item routerLink="/secure/invoicePickup">
                            <mat-icon>file_copy</mat-icon>
                            <span class="nav-text">Invoice Pickup</span>
                        </a>
                        <a mat-list-item routerLink="/secure/createHawb">
                            <mat-icon>add_shopping_cart</mat-icon>
                            <span class="nav-text">Create Hawb</span>
                        </a>
                        <a mat-list-item routerLink="/secure/milestoneList">
                            <mat-icon>access_time</mat-icon>
                            <span class="nav-text">Milestone Update</span>
                        </a>
                        <a mat-list-item routerLink="/secure/freightInvoiceList">
                            <mat-icon>attach_money</mat-icon>
                            <span class="nav-text">Freight Invoice</span>
                        </a>
                    </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title >
                                <mat-icon>flight_land</mat-icon>
                                <span class="nav-text">Air Import</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                        <a mat-list-item routerLink="/secure/milestoneList">
                            <mat-icon>access_time</mat-icon>
                            <span class="nav-text">Milestone Update</span>
                        </a>
                        <a mat-list-item routerLink="/secure/freightInvoiceList">
                            <mat-icon>attach_money</mat-icon>
                            <span class="nav-text">Freight Invoice</span>
                        </a>
                    </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title >
                                <mat-icon>library_books</mat-icon>
                                <span class="nav-text">Report</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                        <a mat-list-item routerLink="/secure/test">
                            <mat-icon>done_outline</mat-icon>
                            <span class="nav-text">CheckList Report</span>
                        </a>
                        <a mat-list-item routerLink="/secure/test">
                            <mat-icon>assignment</mat-icon>
                            <span class="nav-text">Consol Report</span>
                        </a>
                        <a mat-list-item routerLink="/secure/test">
                            <mat-icon>account_balance</mat-icon>
                            <span class="nav-text">Inventory Report</span>
                        </a>
                    </mat-expansion-panel>
            </mat-accordion> 
            <a mat-list-item routerLink="/logout" style="position: absolute; left: 0; bottom: 0;">
                <mat-icon>exit_to_app</mat-icon>
                <span class="nav-text">Log out</span>
            </a>
            <!-- <mat-divider></mat-divider> -->
            <!-- <a mat-list-item routerLink="/secure/invoicePickup">
                <mat-icon>attach_money</mat-icon>
                <span class="nav-text">Invoice Pickup</span>
            </a>
            <a mat-list-item routerLink="/secure/milestoneList">
                <mat-icon>flight</mat-icon>
                <span class="nav-text">Milestone Update</span>
            </a>
            <a mat-list-item routerLink="/secure/checkListReport">
                <mat-icon>description</mat-icon>
                <span class="nav-text">Check List Report</span>
            </a>
        <mat-divider></mat-divider>
        <h4 matSubheader>Demo Page</h4>
            <a mat-list-item routerLink="/secure/materialTable">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">Material Table</span>
            </a>
            <a mat-list-item routerLink="/secure/dynamic-MaterialTable">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">Dynamic Material Table</span>
            </a>
            <a mat-list-item routerLink="/secure/materialForm">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">Material Form</span>
            </a>
            <a mat-list-item routerLink="/secure/bootstrapTable">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">Bootstrap Table</span>
            </a>
            <a mat-list-item routerLink="/secure/test">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">Test</span>
            </a>          
            <a mat-list-item routerLink="/secure/ui-Material">
                <mat-icon>assignment</mat-icon>
                <span class="nav-text">UI-Material</span>
            </a> -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <div class="container-fluid">
            <div class="row">
            <div class="col-md-12">
                ===ADAL Info===
            </div>
            </div>
            <div class="row">
            <div class="col-md-12" style="word-break: break-all;">
                <strong>adalAccessToken:</strong> {{helper.localStorageItem('adalAccessToken')}}
            </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="word-break: break-all;">
                <strong>userInfo:</strong> : {{helper.localStorageItem('userInfo')}}
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    ===COGNITO Info===
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="word-break: break-all;">
                    <strong>awsIdToken:</strong> {{helper.localStorageItem('awsIdToken')}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="word-break: break-all;">
                    <strong>awsAccessToken:</strong> {{helper.localStorageItem('awsAccessToken')}}
                </div>
            </div>
        </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>