<div id="app" class="container-fluid">
  <div class="panel panel-default">
        <div class="panel-header">
                <h1>Check List Report</h1>
                <div class="form-group">
                  <form [formGroup]="serachForm">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="hawb">HAWB: </label>
                        <mat-form-field>
                          <input matInput formControlName="hawb" id="hawb" name="hawb" [(ngModel)]="searchModel.hawb">
                        </mat-form-field>
                      </div>
                        <div class="col-md-6">
                          <label>DATE: </label>
                          <mat-form-field style="width:120px">
                            <input matInput [matDatepicker]="dp1" formControlName="startDate" [(ngModel)]="searchModel.startDate">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                          </mat-form-field>
                          <span>~</span>
                          <mat-form-field style="width:120px">
                            <input matInput [matDatepicker]="dp2" formControlName="endDate" [(ngModel)]="searchModel.endDate">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                          </mat-form-field>
                          <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                          <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                       </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-raised-button color="primary" (click)="search()" style="float:left">Search</button>
                      <button mat-raised-button color="warn" (click)="printExcel()" style="float:right">Download Excel Report</button>
                    </div>
                  </div>
                </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="panel-body mat-elevation-z4">
            <div>
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
          
            <mat-table #table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        
        </div>
  </div>
</div>
<!-- excel DOM -->
<div id="exportable">
  <table class="table table-sm table-striped" style="display:none;" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th *ngFor="let item of displayedColumns">{{item}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of element_data">
              <td>{{item.position}}</td>
              <td>{{item.name}}</td>
              <td>{{item.weight}}</td>
              <td>{{item.symbol}}</td>
          </tr>
      </tbody>
  </table>
</div>