<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Register</h1>
      </mat-card-title>
      <mat-card-subtitle>
          SamsungSDS LAX Tracking
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="example-container" [formGroup]="registerForm">
          <mat-form-field>
              <input matInput placeholder="NAME" formControlName="name" [(ngModel)]="registrationUser.name">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="EMAIL" formControlName="email" [(ngModel)]="registrationUser.email">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="PASSWORD" formControlName="password" [(ngModel)]="registrationUser.password">
          </mat-form-field>
        </form>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onRegister()">Create Account</button>
    </mat-card-actions>
    <mat-list>
      <mat-list-item>Already have an account? &nbsp;<a routerLink="/login"> Login </a></mat-list-item>
    </mat-list>
</mat-card>