.bg {
    background-image: url('../../../assets/login-background.jpg');
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}