  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h1>Confirm</h1>
        </mat-card-title>
        <mat-card-subtitle>
            SamsungSDS LAX Tracking
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <form class="example-container" [formGroup]="confirmationForm">
            <mat-form-field>
                <input matInput placeholder="EMAIL" formControlName="email" [(ngModel)]="confirmationModel.email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="VERIFICATION CODE" formControlName="confirmationCode" [(ngModel)]="confirmationModel.confirmationCode">
            </mat-form-field>
          </form>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onConfirmRegistration()">Confirm</button>
      </mat-card-actions>
      <mat-list>
        <mat-list-item>Can't find your verification code?&nbsp;<a routerLink="/login/resendCode/{{confirmationModel.email}}">Resend</a></mat-list-item>
        <mat-list-item>Let's back to&nbsp;<a routerLink="/login"> Login </a></mat-list-item>
      </mat-list>
  </mat-card>