.example-card {
  width: 400px;
  margin:0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mat-card-header {
  background-color: #3f51b5;
  color: silver;
}
.mat-card-subtitle {
  background-color: #3f51b5;
  color: silver;
}
.mat-form-field.mat-form-field {
  width: 100%;
}
.mat-card-actions {
  padding: 15px;
}