<div id="app">
    <div class="panel panel-default">
      <div class="panel-header">
        <h1>Milestone Update - {{ hawb }} </h1>
        <div class="row">
          <div class="col-md-3">
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
          </div>
          <div class="col-md-9">
            <button mat-raised-button color="warn" (click)="prolinkCopy()">Prolink Copy</button>
            <span>Hint: Please keyin HAWB then click "Prolink Copy" to bring the data back.</span>
          </div>
        </div>
      </div>
    
      <div class="panel-body mat-elevation-z8">
        <h2>Basic Information</h2>
        <form class="example-container" [formGroup]="basicForm">
          <ng-template matStepLabel>TPE Station</ng-template>
          <div class="row">
            <div class="col-md-4">
              <label>HAWB: </label>
              <mat-form-field>
                <input matInput placeholder="" formControlName="hawb">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <label>MAWB: </label>
              <mat-form-field>
                <input matInput placeholder="" formControlName="mawb">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <label>IN CHARGE: </label>
              <mat-form-field>
                  <mat-select formControlName="incharge">
                    <mat-option *ngFor="let person of incharge" [value]="person.id">
                      {{person.name}} {{person.email}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <label>INVOICE: </label>
                <mat-form-field>
                  <input matInput formControlName="invoice">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>COMMOD: </label>
                <mat-form-field>
                  <input matInput formControlName="commod">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>ETA SAMEX REQUEST : </label>
                <mat-form-field style="width:120px">
                  <input matInput formControlName="eta_samex_req_date" [matDatepicker]="eta_samex_req_date_picker" [(ngModel)]="tracking.eta_samex_req_date" placeholder="MM/dd/yyyy" maxlength="10"> 
                  <mat-datepicker-toggle [for]="eta_samex_req_date_picker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #eta_samex_req_date_picker></mat-datepicker> 
                </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <label>TYPE: </label>
                <mat-form-field>
                  <input matInput formControlName="type">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>SHIPPER: </label>
                <mat-form-field>
                  <input matInput formControlName="shipper">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>FLIGHT #: </label>
                <mat-form-field>
                  <input matInput formControlName="flight">
                </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <label>PKGS: </label>
                <mat-form-field>
                  <input matInput formControlName="pkgs">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>CARTONS: </label>
                <mat-form-field>
                  <input matInput formControlName="cartons">
                </mat-form-field>
              </div>
              <div class="col-md-4" style="padding: 15px">
                <label>HOT&nbsp;:&nbsp;</label>
                    <mat-checkbox formControlName="hot"></mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>CWT: </label>
                <mat-form-field>
                  <input matInput formControlName="cwt">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <label>WHS R#: </label>
                <mat-form-field>
                  <input matInput formControlName="whs">
                </mat-form-field>
              </div>
              <div class="col-md-4" style="padding: 15px">
                <label>IDR RECEIVED&nbsp;:&nbsp;</label>
                    <mat-checkbox formControlName="idr_received"></mat-checkbox>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>REMARK: </label>
              <mat-form-field style="width:800px">
                <textarea matInput matTextareaAutosize placeholder="" formControlName="remark" style="width:800px"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
        <h2>Milestone Information</h2>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="tpeForm">
            <ng-template matStepLabel matStepperIcon="edit"><mat-icon>flight_takeoff</mat-icon>TPE Station</ng-template>
            <form class="example-container" [formGroup]="tpeForm">
              <div class="row">
                  <div class="col-md-5">
                    <label>ETD POL: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="pol_etd_date" name="pol_etd_date" [(ngModel)]="tracking.pol_etd_date" [matDatepicker]="pol_etd_date_picker_tpe" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="pol_etd_date_picker_tpe" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pol_etd_date_picker_tpe></mat-datepicker>
                      <mat-error *ngIf="tpeForm.get('pol_etd_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="pol_etd_time" [(ngModel)]="tracking.pol_etd_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <label>ATD POL: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="pol_atd_date" [(ngModel)]="tracking.pol_atd_date" [matDatepicker]="pol_atd_date_picker_tpe" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="pol_atd_date_picker_tpe" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pol_atd_date_picker_tpe></mat-datepicker>
                      <mat-error *ngIf="tpeForm.get('pol_atd_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="pol_atd_time" [(ngModel)]="tracking.pol_atd_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                    <label>ETA POD: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="pod_eta_date" [(ngModel)]="tracking.pod_eta_date" [matDatepicker]="pod_eta_date_picker_tpe" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="pod_eta_date_picker_tpe" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pod_eta_date_picker_tpe></mat-datepicker> 
                      <mat-error *ngIf="tpeForm.get('pod_eta_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="pod_eta_time" [(ngModel)]="tracking.pod_eta_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="laxForm">
            <ng-template matStepLabel matStepperIcon="edit"><mat-icon>flight_land</mat-icon>LAX Station</ng-template>
            <form class="example-container" [formGroup]="laxForm">
              <div class="row">
                  <div class="col-md-5">
                    <label>ATA POD: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="pod_ata_date" [(ngModel)]="tracking.pod_ata_date" [matDatepicker]="pod_ata_date_picker_lax" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="pod_ata_date_picker_lax" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #pod_ata_date_picker_lax></mat-datepicker>
                      <mat-error *ngIf="laxForm.get('pod_ata_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="pod_ata_time" [(ngModel)]="tracking.pod_ata_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                    <label>LAX PICKUP: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="lax_pickup_date" [matDatepicker]="lax_pickup_date_picker_lax" [(ngModel)]="tracking.lax_pickup_date" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="lax_pickup_date_picker_lax" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #lax_pickup_date_picker_lax></mat-datepicker>
                      <mat-error *ngIf="laxForm.get('lax_pickup_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="lax_pickup_time" [(ngModel)]="tracking.lax_pickup_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <label>LAX CFS DELIVERY: </label>
                    <mat-form-field style="width:120px">
                      <input matInput formControlName="la_cfs_delivery_date"[matDatepicker]="la_cfs_delivery_date_picker_lax" [(ngModel)]="tracking.la_cfs_delivery_date" placeholder="MM/dd/yyyy" maxlength="10">
                      <mat-datepicker-toggle [for]="la_cfs_delivery_date_picker_lax" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #la_cfs_delivery_date_picker_lax></mat-datepicker>
                      <mat-error *ngIf="laxForm.get('la_cfs_delivery_date').hasError('required')">This field required.</mat-error>
                    </mat-form-field>&nbsp;/
                    <mat-form-field style="width:60px">
                      <input matInput formControlName="la_cfs_delivery_time" [(ngModel)]="tracking.la_cfs_delivery_time" placeholder="hhmm" maxlength="4">
                    </mat-form-field>
                  </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="sanForm">
            <ng-template matStepLabel matStepperIcon="edit"><mat-icon>local_shipping</mat-icon>SAN CFS</ng-template>
            <form class="example-container" [formGroup]="sanForm">
                <div class="row">
                    <div class="col-md-5">
                      <label>SD CFS INBOUND: </label>
                      <mat-form-field style="width:120px">
                        <input matInput formControlName="sd_cfs_inbound_date" [matDatepicker]="sd_cfs_inbound_date_picker_san" [(ngModel)]="tracking.sd_cfs_inbound_date" placeholder="MM/dd/yyyy" maxlength="10">
                        <mat-datepicker-toggle [for]="sd_cfs_inbound_date_picker_san" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #sd_cfs_inbound_date_picker_san></mat-datepicker>
                        <mat-error *ngIf="sanForm.get('sd_cfs_inbound_date').hasError('required')">This field required.</mat-error>
                      </mat-form-field>&nbsp;/
                      <mat-form-field style="width:60px">
                        <input matInput formControlName="sd_cfs_inbound_time" [(ngModel)]="tracking.sd_cfs_inbound_time" placeholder="hhmm" maxlength="4">
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <label>SD CFS OUTBOUND: </label>
                      <mat-form-field style="width:120px">
                        <input matInput formControlName="sd_cfs_outbound_date" [matDatepicker]="sd_cfs_outbound_date_picker_san" [(ngModel)]="tracking.sd_cfs_outbound_date" placeholder="MM/dd/yyyy" maxlength="10">
                        <mat-datepicker-toggle [for]="sd_cfs_outbound_date_picker_san" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #sd_cfs_outbound_date_picker_san></mat-datepicker>
                        <mat-error *ngIf="sanForm.get('sd_cfs_outbound_date').hasError('required')">This field required.</mat-error>
                      </mat-form-field>&nbsp;/
                      <mat-form-field style="width:60px">
                        <input matInput formControlName="sd_cfs_outbound_time" [(ngModel)]="tracking.sd_cfs_outbound_time" placeholder="hhmm" maxlength="4">
                      </mat-form-field>
                    </div>
                </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="mexForm">
              <ng-template matStepLabel matStepperIcon="edit"><mat-icon>local_shipping</mat-icon>MEX SAMEX</ng-template>
              <form class="example-container" [formGroup]="mexForm">
                  <div class="row">
                      <div class="col-md-5">
                        <label>SAMEX: </label>
                        <mat-form-field style="width:120px">
                          <input matInput formControlName="samex_date" [matDatepicker]="samex_date_picker_mex" [(ngModel)]="tracking.samex_date" placeholder="MM/dd/yyyy" maxlength="10">
                          <mat-datepicker-toggle [for]="samex_date_picker_mex" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #samex_date_picker_mex></mat-datepicker> 
                          <mat-error *ngIf="mexForm.get('samex_date').hasError('required')">This field required.</mat-error>
                        </mat-form-field>&nbsp;/
                        <mat-form-field style="width:60px">
                          <input matInput formControlName="samex_time" [(ngModel)]="tracking.samex_time" placeholder="hhmm" maxlength="4">
                          <mat-error *ngIf="mexForm.get('samex_time').hasError('pattern')">This field format is HHmm.</mat-error>
                          <mat-error *ngIf="mexForm.get('samex_time').hasError('required')">This field required.</mat-error>
                        </mat-form-field>
                      </div>
                  </div>
              </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
    <div>
      <p>Basic Value: {{ basicForm.value | json }}</p>
      <p>Milestone Value: {{ tpeForm.value | json }}</p>
      <p>Milestone Value: {{ laxForm.value | json }}</p>
      <p>Milestone Value: {{ sanForm.value | json }}</p>
      <p>Milestone Value: {{ mexForm.value | json }}</p>
    </div>
  </div>
  
  