<div class="panel-header">
    <h1>Material Form</h1>
</div>

<div class="panel-body mat-elevation-z8 ">
    <div class="example-container">
        <form class="example-container" [formGroup]="options">
          <div class="row">
              <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
          </div>
          <div class="row">
            <label>Float label: </label>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="auto">Auto</mat-radio-button>
              <mat-radio-button value="always">Always</mat-radio-button>
              <mat-radio-button value="never">Never</mat-radio-button>
            </mat-radio-group>
          </div>
        </form>
      
        <div class="row">
            <div class="col-md-6">
                <label>Simple placeholder: </label>
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <input matInput placeholder="Simple placeholder" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <label>Both a label and a placeholder: </label>
                <mat-form-field [floatLabel]="options.value.floatLabel">
                  <mat-label>Both a label and a placeholder</mat-label>
                  <input matInput placeholder="Simple placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label>Fancy placeholder: </label>
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <mat-select required>
                    <mat-option>-- None --</mat-option>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                  <mat-placeholder><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> placeholder</i></mat-placeholder>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label>Date Picker: </label>
                <mat-form-field>
                    <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="panel-body mat-elevation-z8 ">
        <form class="example-container" [formGroup]="modelForm">
          <div class="row">
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label>HAWB: </label>
                <mat-form-field>
                  <input matInput placeholder="" required formControlName="hawb" [(ngModel)]="model.hawb">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <label>INVOICE: </label>
                <mat-form-field>
                  <input matInput placeholder="" required formControlName="invoice_no" [(ngModel)]="model.invoice_no">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
                <div class="col-md-2">
                    <label>ETA : </label>
                      <mat-form-field fxFlexFill style="width: 120px">
                          <input matInput [matDatepicker]="dp1" placeholder="" formControlName="date1">
                          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                      </mat-form-field>
                      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                </div>
                <div class="col-md-6">
                    <label>ATA : </label>
                      <mat-form-field fxFlexFill>
                          <input matInput type="date" placeholder="" formControlName="date2">
                      </mat-form-field>
                </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                    <label>mat-hint + mat-error + autosize : </label>
                    <mat-form-field>
                       <textarea name="intro_self" matInput placeholder="introduction" formControlName="intro" required matTextareaAutosize></textarea>
                       <mat-hint>Brief introduce your habbit!！</mat-hint>
                       <mat-error *ngIf="modelForm.get('intro').hasError('required')">This field is required！</mat-error>
                       <mat-error *ngIf="modelForm.get('intro').hasError('minlength')">Min length is 10！</mat-error>
                    </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                    <label>matAutocomplete : </label>
                    <mat-form-field style="width: 300px">
                        <input type="text" name="country" matInput placeholder="國家" formControlName="country" [matAutocomplete]="countries" [(ngModel)]="model.country"/>
                    </mat-form-field>
              </div>
              <mat-autocomplete #countries="matAutocomplete" [displayWith]="displayCountry">
                    <mat-option *ngFor="let country of countries$ | async" [value]="country">
                            <span [innerHTML]="highlightFiltered(country.name)"></span>
                    </mat-option>
              </mat-autocomplete>
          </div>
          <div class="row">
              <div class="col-md-12">
                    <label>matAutocomplete + mat-optgroup : </label>
                    <mat-form-field>
                            <input type="text" name="majorTech" matInput placeholder="代表技術" formControlName="majorTech" [matAutocomplete]="majorTechs" required/>
                    </mat-form-field>
              </div>
              <mat-autocomplete #majorTechs="matAutocomplete">
                    <mat-optgroup *ngFor="let techList of majorTechList" [label]="techList.name">
                      <mat-option *ngFor="let tech of techList.items" [value]="tech">
                        {{ tech }}
                      </mat-option>
                    </mat-optgroup>
              </mat-autocomplete>
          </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                  <label>mat-chip-list +  mat-select : </label>
                  <mat-form-field>
                      <mat-select #searchField>
                          <mat-option [value]="undefined">====None====</mat-option>
                          <mat-option *ngFor="let field of fieldsName" [value]="field" >{{field.name}}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-select #searchCondition>
                            <mat-option *ngFor="let condition of conditions" [value]="condition" >{{condition}}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="searchValue" required name="searchValue" #searchValue>
                  </mat-form-field>
                  <button mat-raised-button color="primary" (click)="addConditions(searchField, searchCondition, searchValue)"> Add Condition </button>
                  <mat-chip-list>
                      <mat-chip *ngFor="let tag of tags" (remove)="removeTag(tag)">
                          {{ tag }} <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                  </mat-chip-list>
            </div>
        </div>
</div>


