<div>
  <h1>Material Table Demo</h1>
</div>
<div class="example-container mat-elevation-z8">
    <div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  
    <mat-table #table [dataSource]="dataSource">

      <!-- Action Button Column -->
      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
           <button mat-icon-button color="primary" focusable="false" (click)="view(row.position)">
              <mat-icon>search</mat-icon>
          </button>
          <!-- *ngIf="row.edit"  -->
          <button mat-icon-button color="primary" focusable="false" (click)="edit(row.position)">
              <mat-icon>mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
          
      <!-- CheckBox Column -->
      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef> checked </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>
