<div id="app" class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Change Password</h1>
      </div>
      <div class="panel-body mat-elevation-z4">
          <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <label>EMAIL: </label>
                    <mat-form-field style="width: 300px">
                      <input matInput placeholder=""[(ngModel)]="newPasswordUser.username">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>OLD PASSWORD: </label>
                    <mat-form-field style="width: 230px">
                      <input matInput placeholder="at least 8 characters" [(ngModel)]="newPasswordUser.existingPassword">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>NEW PASSWORD: </label>
                    <mat-form-field style="width: 265px">
                      <input matInput placeholder="at least 8 characters" [(ngModel)]="newPasswordUser.password">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                </div>
              <div class="row">
                <div class="col-md-6">
                    <button mat-raised-button color="primary" (click)="onNewPassword()">Change Password</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                   Back to login page?<a routerLink="/login"> Login </a>
                </div>
              </div>
          </div>
      </div>
  </div>
  