<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Resend</h1>
      </mat-card-title>
      <mat-card-subtitle>
          SamsungSDS LAX Tracking
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="EMAIL"[(ngModel)]="email">
      </mat-form-field>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="resendCode()">Resend</button>
    </mat-card-actions>
    <mat-list>
      <mat-list-item>Alerady got your verification code? &nbsp;<a routerLink="/login/confirm"> Confirm </a></mat-list-item>
      <mat-list-item>Let's back to &nbsp;<a routerLink="/login"> Login </a></mat-list-item>
    </mat-list>
</mat-card>