<p>
  dynamic-material-table works!
</p>
<div class="example-container mat-elevation-z8">
  <mat-form-field>
    <input matInput type="text" matInput #filter placeholder="search">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onClick()">Search</button>

  <div>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>

  <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort #sortTable="matSort" (matSortChange)="changeSort($event)">

      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef> select </mat-header-cell>
          <mat-cell *matCellDef="let row"> 
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
      </ng-container>

      <ng-container *ngFor="let column of tableData.columnsName" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef [mat-sort-header]="column">{{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row[column] }}
          </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="tableData.matHeaderRowDef"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableData.matHeaderRowDef;"></mat-row>
  </mat-table>
</div>