<div class="panel-header">
  <h1>Bootstrap Table</h1>
  <button type="button" (click)="submit()" class="btn btn-primary" aria-label="Left Align">
      <span>Display selected</span>
  </button>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table id="invoice_table" class="table table-sm table-striped" style="font-size:12px;">
          <tr>
            <th></th>
            <th>checked</th>
            <th>invoice_no</th>
            <th>name</th>
            <th>position</th>
            <th>weight</th>
            <th>symbol</th>
          </tr>
          <tr *ngFor="let invoice of invoices">
            <td>
                <button type="button" (click)="view(invoice.invoice_no)" class="btn btn-primary" aria-label="Left Align">
                    <span class='glyphicon glyphicon-align-right' aria-hidden='true'></span>
                </button>
                <button type="button" (click)="edit(invoice.invoice_no)" class="btn btn-danger" aria-label="Left Align">
                    <span class='glyphicon glyphicon-align-right' aria-hidden='true'></span>
                </button>
            </td>
            <td><input type="checkbox" name="" id="" [(ngModel)]="invoice.checked"></td>
            <td>{{invoice.invoice_no}}</td>
            <td>{{invoice.name}}</td>
            <td>{{invoice.position}}</td>
            <td>{{invoice.weight}}</td>
            <td>{{invoice.symbol}}</td>
          </tr>
        </table>
    </div>
</div>