<h1 mat-dialog-title>Invoice Pickup - Bulk</h1>
<div mat-dialog-content>
  <span mat-list-title>Are you sure to combine to following invoice to the Hawb?</span>
  <mat-list>
    <mat-list-item *ngFor="let item of data.items">{{item.invoice_no}}</mat-list-item>
  </mat-list>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field>
        <label for="hawb">HAWB: </label>
        <input matInput id="hawb" name="hawb" [(ngModel)]="hawb">
      </mat-form-field>
    </div>
  </div>
  
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="updateInvoic()">Yes</button>
  <button mat-raised-button color="accent" mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</div>