  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Forgot/Change Password</h1>
      </mat-card-title>
      <mat-card-subtitle>
          SamsungSDS LAX Tracking
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
          <mat-form-field>
              <input matInput placeholder="EMAIL" [(ngModel)]="email">
          </mat-form-field>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="nextStep()">Reset Password</button>
    </mat-card-actions>
    <mat-list>
      <mat-list-item>Suddenly got your password? &nbsp;<a routerLink="/login"> Login </a></mat-list-item>
    </mat-list>
</mat-card>