<div id="app">
    <div class="panel panel-default">
          <div class="panel-header">
            <h1>Dashboard</h1>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <div class="panel-body mat-elevation-z4">
              <div>
                <!-- <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->
                <mat-paginator #paginator [length]= "totalCount" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
              </div>
            
              <mat-table #table [dataSource]="dataSource" matSort #sortTable="matSort">
          
                <!-- Button Column -->
                <!-- <ng-container matColumnDef="actionsColumn">
                  <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                     <button mat-icon-button color="primary" focusable="false" (click)="view(row.position)">
                          <mat-icon>search</mat-icon> {{row.position}}
                    </button>
                  </mat-cell>
                </ng-container> -->
    
               
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{dataSource.data.indexOf(row) + 1}} </mat-cell>
                </ng-container>
    
                <!-- MABL Column -->
                <ng-container matColumnDef="mawb">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> MABL </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <a [routerLink]="['../milestoneUpdate', row.hawb]" [queryParams]="{prop: row.hawb}">{{row.mawb}}</a> </mat-cell>
                </ng-container>
    
                <!-- HABL Column -->
                <ng-container matColumnDef="hawb">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> HABL </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <a [routerLink]="['../milestoneView', row.hawb]">{{row.hawb}}</a> </mat-cell>
                </ng-container>
    
                <!-- Type Column -->
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> T </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                </ng-container>
    
                <!-- pkgs Column -->
                <ng-container matColumnDef="pkgs">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PKGS </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.pkgs}} </mat-cell>
                </ng-container>
    
                <!-- wgt Column -->
                <ng-container matColumnDef="wgt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> WGT </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.wgt}} </mat-cell>
                </ng-container>
    
                <!-- pol_etd Column -->
                <ng-container matColumnDef="pol_etd">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ETD(POL) </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.pol_etd | date:'shortDate'}} </mat-cell>
                </ng-container>
    
                <!-- pod_eta Column -->
                <ng-container matColumnDef="pod_eta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ETD(POL) </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.pod_eta | date:'shortDate'}} </mat-cell>
                </ng-container>
    
                <!-- sd_cfs_inbound Column -->
                <ng-container matColumnDef="sd_cfs_inbound">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> TO SD </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sd_cfs_inbound | date:'shortDate'}} </mat-cell>
                </ng-container>
    
                <!-- hot Column -->
                <ng-container matColumnDef="hot">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> HOT <mat-icon>email</mat-icon></mat-header-cell>
                    <mat-cell *matCellDef="let row"> <mat-checkbox [ngModel]="row.hot" disabled></mat-checkbox> </mat-cell>
                </ng-container>
    
                <!-- commodity Column -->
                <ng-container matColumnDef="commodity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> COMMODITY </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.commodity}} </mat-cell>
                </ng-container>
    
                <!--remarkName Column -->
                <ng-container matColumnDef="remark">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> REMAEK </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.remark}} </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" class="my-mat-row"></mat-row>
              </mat-table>
          
          </div>
    </div>
    </div>