<div style="width: 70%; margin: 4rem auto;">
  <h1>
    Material UI
  </h1>
  <mat-card>

      <form [formGroup]="formGroup">

          <dynamic-material-form [group]="formGroup"
                                 [layout]="formLayout"
                                 [model]="formModel"
                                 (dfBlur)="onBlur($event)"
                                 (dfChange)="onChange($event)"
                                 (dfFocus)="onFocus($event)"
                                 (matEvent)="onMatEvent($event)"></dynamic-material-form>

      </form>

  </mat-card>

  <pre>{{formGroup.value | json}}</pre>

</div>