/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
  height: 100%;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.autocomplete-highlight {
    font-weight: bold;
    background-color: yellow;
}
.toolbar-seprator {
    flex: 1 1 auto;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
dynamic-basic-form-control {
    margin-bottom: 1.25rem;
}
/* MATERIAL */
mat-input {
    vertical-align: middle;
}

mat-input, mat-radio-button {
    margin-right: 1rem;
}

mat-select {
    width: 200px;
}

mat-slide-toggle {
    display: inline-block !important;
}

mat-form-field.mat-form-field-type-mat-chip-list {
    width: 100%;
}

dynamic-material-form-control {
    display: block;
    margin-bottom: 1rem;
}

dynamic-material-form-control div[role="group"] > dynamic-material-form-control {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
}

dynamic-material-form-control div[role="group"] + mat-error {
    font-size: 75%;
}

dynamic-material-form-control .mat-list-item {
    justify-content: center;
}

.mat-row {
    min-height: 36px !important;
}