<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Forgot/Change Password - 2</h1>
      </mat-card-title>
      <mat-card-subtitle>
          SamsungSDS LAX Tracking
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Verification Code" [(ngModel)]="verificationCode">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="New Password" [(ngModel)]="password">
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="nextStep()">Reset Password</button>
    </mat-card-actions>
</mat-card>