<h1 mat-dialog-title>User Login</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-4">
        <label>EMAIL: </label>
        <mat-form-field style="width: 300px">
          <input matInput placeholder="" formControlName="email" [(ngModel)]="loginModel.email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>PASSWORD: </label>
        <mat-form-field style="width: 300px">
          <input matInput type="password" placeholder="" formControlName="password" [(ngModel)]="loginModel.password">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </div>
  </form>
</div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="cognitoLogin()" style="float:left">Login</button>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true">Cancel</button> -->
    <button mat-raised-button color="warn" (click)="adalLogin()">Morrison Login</button>
    <div class="row">
      <mat-hint>Morrison employee please click "Morrison Login" button </mat-hint>
    </div>
  </div>